<br/>
<div>
    &nbsp;修改密码
</div>
<br/>
<form method="post" action="index.php?c=index&v=editpwd">

    <div>
        &nbsp;输入密码：<input type="password" name="password"/>
        <br/>
        <br/>
        &nbsp;确认密码：<input type="password" name="newpassword"/>
        <br/>
        <br/>
        &nbsp;<input type="submit" value="确定"/>
        <?php if($user['type']==1){?>
            &nbsp;<a href="index.php?c=index&v=adminindex">首页</a>
        <?php }else{?>
            &nbsp;<a href="index.php?c=index&v=index">首页</a>
        <?php }?>
    </div>
</form>
