			<div class="content-box"><!-- Start Content Box -->

				<div class="content-box-header">

					<h3>用户添加</h3>

					<ul class="content-box-tabs">
						<li><a href="#tab2" class="default-tab">Forms</a></li>
					</ul>

					<div class="clear"></div>

				</div> <!-- End .content-box-header -->

				<div class="content-box-content">

					<div class="tab-content default-tab" id="tab2">

						<form action="index.php?kk&c=user&v=update" method="post">

							<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->

								<p>
									<label>用户名</label>
										<input class="text-input small-input" value="<?php echo $one['username'];?>" type="text" id="uname" name="username" />
										<span class="input-notification  png_bg"></span>
								</p>
								<p>
									<label>旧密码</label>
									<input class="text-input small-input" type="password" id="opwd" name="old_password" />
								</p>
								<p>
									<label>新密码</label>
									<input class="text-input small-input" type="password" id="npwd" name="new_password" />
									<span class="input-notification  png_bg"></span>
								</p>
								<p>
									<label>确认密码</label>
									<input class="text-input small-input" type="password" id="rpwd" name="re_password" /><span class="input-notification  png_bg"></span>
								</p>
								<p>
									<label>权限</label>
									<select name="pid" class="small-input">
									<?php foreach ($pri as $k => $v) {?>
										<option <?php echo $one['pid']==$v['id']?'selected':''; ?> value="<?php echo $v['id']?>"><?php echo $v['pri_name'];?></option>
									<?php } ?>
									</select>
								</p>

								<p>
									<label>邮箱</label>
									<input value="<?php echo $one['email'];?>" class="text-input small-input" type="text" id="email" name="email" />
									<span class="input-notification  png_bg"></span>
								</p>
								<input type="hidden" name="id" value="<?php echo $one['id']?>">
								<p>
									<input class="button" type="submit" value="修改" />
								</p>

							</fieldset>

							<div class="clear"></div><!-- End .clear -->

						</form>

					</div> <!-- End #tab2 -->

				</div> <!-- End .content-box-content -->

			</div> <!-- End .content-box -->

			<script type="text/javascript">
			$(function(){
				$('#uname').blur(function(){
					var  len = $(this).val().length;
					if(len<4||len>12){
						$(this).next().addClass('error').removeClass('success').html('用户名必须是4-12位字符');
					}else{
						$(this).next().addClass('success').removeClass('error').html('');
					}


				})

				$("#npwd").keyup(function(){
					if($('#opwd').val().length>0){
						var len = $(this).val().length;
						if(len>12||len<6){
							$(this).next().removeClass('success').addClass('error').html('密码必须是6-12位字符');
						}else{
							$(this).next().addClass('success').removeClass('error').html('');
							var pwd = $(this).val();
							var rpwd = $('#rpwd').val();
							if(rpwd != pwd){
								$('#rpwd').next().removeClass('success').addClass('error').html('两次输入的密码不一致');
							}else{
								$('#rpwd').next().removeClass('error').addClass('success').html('');
							}
						}
					}
				})

				$('#rpwd').keyup(function(){
					if($('#opwd').val().length>0){
						var rpwd = $(this).val();
						var pwd = $('#npwd').val();
						if(rpwd != pwd){
							$(this).next().removeClass('success').addClass('error').html('两次输入的密码不一致');
						}else{
							$(this).next().removeClass('error').addClass('success').html('');
						}
					}
				})
			})
			</script>
