.title{
	width:300px;
	height:124px;
	background-color:#ff3333;
	float:left;
	}
.title h1{
	font-size:30px;
	color:#fff;
	text-align:center;
	padding-top:30px;	
	}
.title-bg{
	width:40px;
	height:8px;
	background-color:#fff;
	margin-left:100px;
	}
.main{
	height:124px;
	border-bottom:2px solid #ff3333;	
	}	
.subnav ul li{
	width:72px;
	height:25px;	
	float:left;
	font-size:18px;
	margin-left:160px;
	color:#959595;
	cursor:pointer;
	}
.subnav ul li.on{
	border-bottom:2px solid #ff3333;
	}	
.subnav ul li a{
	text-decoration:none;
	color:#666666;
	}	
.subnav ul li:hover{
	border-bottom:2px solid #ff3333;
	}	
.subnav{	
	padding-top:50px;
	float:left;	
	}
.subnav-right{
	margin-top:105px;
	float:left;
	margin-left:220px;
	}	
.subnav-right p{
	display:inline;
	color:#0099cc;	
	}
.subnav-right p a:hover{
	color:#ff3333;
	}
.subnav-right span a:hover{
	color:#ff3333;
	}		
.subnav-right span{
	display:inline;			
	}
.subnav-right p a{
	text-decoration:none;
	color:#0099cc;
	}	
.subnav-right span a{
	text-decoration:none;
	color:#ff3333;	
	}
.main-bottom{
	clear:both;
	height:75px;
	background-image:url(../images/sj.png);
	background-repeat:no-repeat;
	background-position:bottom;
	border-bottom:2px dashed #666666;	
	} 
.main-bottom h1{
	text-align:center;	
	font-size:24px;
	color:#666666;
	clear:both;
	margin-top:20px;
	}
.date h2{	
	display:inline;
	margin-left:425px;
	color:#666666;
	}	
.date h3{	
	display:inline;
	margin-left:176px;
	color:#666666;
	}
.text-pic{
	width:680px;
	float:left;
	}
.main-text{
	width:1132px;
	}	
.main-text p{
	margin-top:30px;
	text-indent:2em;
	margin-left:60px;
	}
.text-pic p{
	padding-top:30px;
	text-indent:2em;
	margin-left:60px;
	}	
.pic img{
	float:left;
	margin-left:30px;
	margin-top:35px;
	}
.text-bottom{
	width:1096px;
	clear:both;
	text-indent:2em;
	margin-left:172px;
	padding-top:30px;
	}
.page h1{
	display:inline;
	padding-top:15px;
	float:left;
	color:#000;	
	}
.page h1 a{
	color:#000;
	}	
.page h1 a:hover{
	color:#000;
	}				
.page h2{
	display:inline;
	float:right;
	margin-top:15px;
	color:#ccc;
	}
.page h2 a:hover{
	color:#000;
	}					
.page{
	width:1188px;
	margin:0 auto;
	margin-top:26px;
	margin-bottom:76px;
	border-top:2px dashed #d4d4d4;
	}
.page h1 a{
	color:#666666;
	text-decoration:none;
	}
.page h2 a{
	color:#666666;
	text-decoration:none;
	}				